.DefaultLayOut {
  overflow: hidden;
  color: var(--black);
  background: #f3f3f3;
  position: relative;
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #a6ddf0;
  filter: blur(72px);
}
.main {
  position: relative;
  height: calc(100vh - 55px);
  overflow: scroll;
}
